//ADJUSTING MEDIA QUERIES//
// 1000px
// previous value*0.8

// 500px
// previous value*0.6

// 300px
// previous value*0.4
// 

//NO LESS THAN THE WIDTH OF 320PX


////BASIC////

@font-face {
  font-family: Aleo;
  src: url("./FONTS/Aleo-Regular.otf")
}

@font-face {
  font-family: Aleo;
  font-weight: bold;
  src: url("./FONTS/Aleo-Bold.otf")
}

@font-face {
  font-family: Brela;
  src: url("./FONTS/Brela-Regular.otf")
}

@keyframes glow {
  100% {
    box-shadow: 0rem 0rem 0.75rem white;
    opacity: 1;
  }
}

@keyframes inverse {
  0% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: #333;
    color: white;
  }
}

@keyframes highlight {
  100% {
    opacity: 1;
  }
}

@keyframes extend {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*{box-sizing:border-box;}

body {
  background-image: radial-gradient(circle,white, gray);
  background-repeat:repeat;
  background-size: 100%;
  font-family: Brela, "Lucida Sans", sans-serif;
}


////HEADER////

header {
    font-family: Aleo, "Lucida Sans", sans-serif;
}

header>.main {
  font-weight: bold;
}

a>img {
  opacity: 0.75;
  border-radius: 50%;
}

.main {
  display: flex;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
  width:100%;
}

.subject {
  font-size: 5rem;
  opacity: 0.75;
  justify-content: center;
  height:75px;
  @media only screen and (max-width: 600px) {
  font-size: 4rem;
  }
  @media only screen and (max-width: 505px) {
  font-size: 3rem;
  }
  @media only screen and (max-width: 405px) {
  font-size: 2.15rem;
  }
}

.author {
  float: left;
  font-size: 1rem;
  opacity: 0.65;
  animation: highlight 1s ease-in-out 10 alternate;
  @media only screen and (max-width: 400px) {
  font-size: 0.8rem;
  }
}

.teacher {
  float: right;
  font-size: 1rem;
  opacity: 0.65;
  animation: highlight 1s ease-in-out 10 alternate;
  @media only screen and (max-width: 400px) {
  font-size: 0.8rem;
  }
}


////NAVIGATION BAR////


ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
  @media only screen and (max-width: 600px) {
  font-size: 0.8rem;
  }
  @media only screen and (max-width: 500px) {
  font-size: 0.6rem;
  }
  @media only screen and (max-width: 400px) {
  font-size: 0.4rem;
  }
  @media only screen and (max-width: 350px) {
  font-size: 0.3rem;
  }
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  @media only screen and (max-width: 750px) {
  font-size: 0.8;
  padding: 14px 8px;
  }
  @media only screen and (max-width: 650px) {
  font-size: 0.6;
  padding: 14px 4px;
  }
}

li a:hover {
  background-color: white;
  color: black;
  animation: inverse 1.5s ease-in-out 1 alternate-reverse;
}

.navicon {
  margin-right: 0.2rem;
  margin-right: 0.2rem;
  fill: currentColor;
  width: 1.25rem;
  height: 1rem;
}

.revX {
  transform: scaleX(-1);
}

////CONTENT////


.content {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.regular {
  font-size: 0.9rem;
  @media only screen and (max-width: 1300px) {
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 1200px) {
  font-size: 0.7rem;
  }
  @media only screen and (max-width: 1000px) {
  font-size: 0.6rem;
  }
  @media only screen and (max-width: 900px) {
  font-size: 0.5rem;
  }
  @media only screen and (max-width: 750px) {
  font-size: 0.45rem;
  }
}

.medium {
  font-size: 0.9rem;
  @media only screen and (max-width: 1300px) {
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 1200px) {
  font-size: 0.7rem;
  }
  @media only screen and (max-width: 1000px) {
  font-size: 0.6rem;
  }
  @media only screen and (max-width: 900px) {
  font-size: 0.5rem;
  }
  @media only screen and (max-width: 750px) {
  font-size: 0.45rem;
  }
}

.smaller {
  font-size: 0.85rem;
  @media only screen and (max-width: 1300px) {
    font-size: 0.7rem;
  }
  @media only screen and (max-width: 1100px) {
  font-size: 0.6rem;
  }
  @media only screen and (max-width: 900px) {
    font-size: 0.5rem;
    }
}

//SUMMARY//
.summary {
  padding: 1rem;
  width: 40%;
  @media only screen and (max-width: 1250px) {
    width: 50%;
  }
  @media only screen and (max-width: 1000px) {
    width: 60%;
  }
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.summary>svg {
    position: relative;
    margin-right: 0.2rem;
    margin-right: 0.2rem;
    fill: currentColor;
    height: 1rem;
    width: 1rem;
    top: 0.1rem;
}

hr {
  width: 50%;
  animation: extend 10s ease-in-out 1;
}

.opinion {
  height:40%;
}

.quotes {
  display: flex;
}

.userpic {
  display: flex;
  justify-content: center;
}

.userpic>img {
    width: 60%;
    height: 60%;
    border-radius: 50%;
    box-shadow: 0rem 0rem 3rem;
    @media only screen and (max-width: 1300px) {
      width: 50%;
      height: 50%;    }
    @media only screen and (max-width: 1100px) {
      width: 40%;
      height: 40%;    }
    @media only screen and (max-width: 875px) {
      width: 35%;
      height: 35%;    }
}

//SLIDESHOW//
.slideshow-container {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  @media only screen and (max-width: 750px) {
    width: 100%;
  }
}

.mySlides {display: none;}

img {vertical-align: middle;}

.text {
  background-color: black;
  color:white;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  width: 100%;
  text-align: center;
  opacity: 1;
  @media only screen and (max-width: 505px) {
  font-size: 12.5px;
  }
  @media only screen and (max-width: 425px) {
  font-size: 10px;
  }
  @media only screen and (max-width: 350px) {
  font-size: 8px;
  }
  @media only screen and (max-width: 350px) {
  font-size: 6.5px;
  }
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 8s;
  animation-name: fade;
  animation-duration: 8s;
}

@-webkit-keyframes fade {
  from {opacity: .75} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .75} 
  to {opacity: 1}
}

///BOTTOM///
.bottom {
  @media only screen and (min-width: 700px) {
    display: none;
  }
  @media only screen and (max-width: 700px) {
    font-size: 0.75rem;
  }
}

.bottom>svg, svg {
  position: relative;
  fill: currentColor;
  height: 1rem;
  width: 1rem;
  top: 0.1rem;
}

.bottom>svg {
  margin-right: 0.25rem;
}

.svg {
  margin-bottom: 0.1rem;
  @media only screen and (max-width: 930px) {
    margin-bottom: 0.5rem;
    }
}