 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
section {
    position: relative;
    width: 100%;
    height: 1000px; 
    background:url(bg1.jpg) ;
    background-attachment: fixed;
    .section2{
        position: relative;
        width: 100%;
        height: 1000px; 
        background:url(bg3.jpg) ;
        background-attachment: fixed;
        
    }   
    .section3{
        position: relative;
        width: 100%;
        height: 1000px; 
        background:url(bg.jpg) ;
        background-attachment: fixed;
    }
    .section4{
        position: relative;
        width: 100%;
        height: 1000px; 
        background:url(bg2.jpg) ;
        background-attachment: fixed;
    }
    .section5{
        position: relative;
        width: 100%;
        height: 1000px; 
        background:url(bg.jpg) ;
        background-attachment: fixed;
    }
}




