.logo{
    float: left;
    padding:8px;
    margin-left: 16px;
    margin-top: 8px;
}
.logo a {
    color:#000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing:0px;
    text-decoration: none;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
   
}

nav ul li:not(:first-child){
    margin-left: 48px;
}

nav ul li:last-child{
    margin-right: 24px;
}

nav ul li a {
    display: inline-block;
    outline: none;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 600;
}

