//navbar
.logo{
    float: left;
    padding:8px;
    margin-left: 8px;
    margin-top: 8px;
}
nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    font-family: 'poppins', sans-serif;
    padding: 8px;
    z-index: 100;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 50%;
}
nav.black{
    background: #1d1d1d;
}
.nav-links li {
    list-style: none;
    position: relative;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.nav-links a{
    color: #D80000;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}

.nav-links li a.active,
.nav-links li a:hover {
    color: whitesmoke;

}
ul li ul li{
    display: none; 
    position: absolute;
}
ul li:hover ul li{
   display: block;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
    .container-body{
        flex-wrap: wrap;
    }
    .box{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;      
        max-width: 1200px;
        margin-left: 20%;
        margin-bottom: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    
        .imgBx1 img{
            max-width: 300px;
            max-height: 300px;
            flex: 0 0 15px;
            margin-left: 2%; 
            
        }
      
        .txt1{
            padding-left:20px;
           
            h2{
                text-align: center;
                margin: 0;
                color: #D80000;
                
            } 
            p{
                margin-right: 10px;
                padding: 10px 0 0;
                text-align: justify;
            }
        }
    }
    .box2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;

        margin-left: 20%;
        margin-bottom: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    
        .imgBx1 img{
            max-width: 300px;
            max-height: 300px;
            flex: 0 0 15px;
            
        }
      
        .txt1{
            padding-left:20px;
           
            h2{
                text-align: center;
                margin: 0;
                color: #D80000;
                
            } 
            p{
                margin-right: 10px;
                padding: 10px 0 0;
                text-align: justify;
            }
        }
    }


}
@media screen and (max-width: 728px) {
    body{
        overflow: block;
    }
   
    .nav-links{
       position: absolute;
        right: 2px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(29, 29, 29);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    } 
    .box{
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;      
        max-width: 1200px;
        margin-left: 20%;
        margin-bottom: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    
        .imgBx1 img{
            max-width: 300px;
            max-height: 300px;
            flex: 0 0 15px;
            margin-left: 2%; 
            
        }
      
        .txt1{
            padding-left:20px;
           
            h2{
                text-align: center;
                margin: 0;
                color: #D80000;
                
            } 
            p{
                margin-right: 10px;
                padding: 10px 0 0;
                text-align: justify;
            }
        }
    }
    .box2{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;

        margin-left: 20%;
        margin-bottom: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    
        .imgBx1 img{
            max-width: 300px;
            max-height: 300px;
            flex: 0 0 15px;
            
        }
      
        .txt1{
            padding-left:20px;
           
            h2{
                text-align: center;
                margin: 0;
                color: #D80000;
                
            } 
            p{
                margin-right: 10px;
                padding: 10px 0 0;
                text-align: justify;
            }
        }
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(2);
    }
}

.toogle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toogle .line2{
    opacity: 0;
}
.toogle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

//welcome
.entrada{
    display: none;
    float: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .texto1{
        color: #D80000;
        font-size: 35px;
        font-family: 'Poppins'sans-serif;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 8px;
        margin-bottom: 2%;
    }
    .btn{
        background: transparent;
        border: 3px solid #fff;
        color: #fff;
        cursor: pointer;
        font-size: 25px;
        padding: 15px 70px;
        text-transform: uppercase;
        font-weight: 700;
        outline: none;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
    }
    .btn::before{
        content: '';
        position: absolute;
        background-color: #fff;
        height: 0%;
        top: 50%;
        left: 50%;
        width: 100%;
        z-index: -1;
        opacity: 0;
        transition: all 0.3s;
        transform: translate(-50%,-50%) rotateZ(45deg);
    }
    .btn:hover{
        color:#D80000;
    }    
    .btn:hover::before{
        opacity: 1;
        height: 260%;
    }
    .btn:Active::before{
        height: 370%;
    }
}
.move{
    margin-bottom:6%;
}
//historia

.historia{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 3%; 
    h1{
        margin-bottom: 3%;
        text-transform: uppercase;
        font-size: 40px;
    }
    h2{
    align-items: center;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    font-size: 16px;
    }
}
//cultura
.box{
    position: relative;
    display: flex;
    max-width: 1200px;
    margin-left: 20%;
    margin-right:20%; 
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);

    .imgBx1 img{
        max-width: 300px;
        max-height: 300px;
        flex: 0px 0 15px;
        
        
    }
  
    .txt1{
        padding-left:20px;
       
        h2{
            margin: 0;
            color: #D80000;
            
        } 
        p{
            margin-right: 10px;
            padding: 10px 0 0;
            text-align: justify;
        }
    }
}
.box2{
    position: relative;
    display: flex;
    max-width: 1200px;
    margin-left: 20%;
    margin-right:20%; 
    margin-bottom: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);

    .imgBx1 img{
        max-width: 300px;
        max-height: 300px;
        flex: 0 0 15px;
        
    }
  
    .txt1{
        padding-left:20px;
       
        h2{
            margin: 0;
            color: #D80000;
            
        } 
        p{
            margin-right: 10px;
            padding: 10px 0 0;
            text-align: justify;
        }
    }
}
.box:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
    .imgBx1 img{
        transform: scale(1.05);
    }
}
.box2:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,.5);
    .imgBx1 img{
        transform: scale(1.05);
    }
}
//gastronomia 
//receitas
.gastronomia{
    background: #fff;
    font-size: 14px;
    color:#000;
}
.swiper-container{
    width:80%;
    padding-top: 200px;
    padding-left: 50px;
    border-radius: 20px;
    align-items: center;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 1000px;
    height: 500px;
    background-color: #c7c7c76c;
    .imgBx img{
        width: 100%;
    }
    .details{
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
        h3{
            margin: 0;
            padding: 0;
            font-size: 20px;
            text-align: center;
            line-height: 20px;
        }
    }
}
.swiper-pagination{
    color: #D80000;
}
//espaços
.espacos{
    max-width: 1200px;
    min-height:500px;
    margin: 20px auto 0px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
    justify-content: center;
    .box1{
        position: relative;
        width: 300px;
        height: 300px;
        background: #fff0;    
        box-sizing: border-box;
        display: inline-block;
        
        .details{
            position: absolute;
            top: 10px;
            left: 10px;
            bottom: 10px;
            right: 10px;
            background: rgba(0,0,0,.8);
            transform: scaleY(0);
            transition: transform .5s;
        }
        .details .content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            padding: 15px;
            color:#fff;
            h2{
                margin:0;
                padding: 0;
                font-size: 20px;
                color: #fff;
            }
            p{
                margin:10px 0 0;
                padding: 0;
            }
   
        }
        .imgBox1 {
            position: relative;
            overflow: hidden; 
            img{
                max-width: 100%;
                transition: transform 2s;
            }
        } 
       
    }
    .box1:hover .imgBox1 img{
        transform: scale(1.2);
    }
    .box1:hover .details{
        transform: scaleY(1);
    }
}
//botão para subir
#topBtn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #D80000;
    color: #c7c7c7;
    border: none;
    cursor: pointer;
    display: none;
}

//footer
.footer-distributed{
	background-color: #27292b;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

//Footer lado esquerdo

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #D80000;
}

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-links a:hover{
    color: #D80000;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

//Footer centro 

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #D80000;
	text-decoration: none;
}


// Footer direito
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
    margin: 0;
    span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
    }
}


.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons:hover{
	color: #D80000;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #202020;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
	color: #D80000;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
    .footer-distributed .footer-left .logo{
        display: flex;
        position: absolute;
        align-items: center;
    }
}
//barra copyright
.container-footer{
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.footer{
    max-width: 1200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    color:#c7c7c7;
    a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    }
    a:hover{
        color: #D80000
    }
}
.information{
    color: #c7c7c7;
}
.information a{
    text-decoration: none;
    color:#c7c7c7;
}
.information a:hover{
    color: #D80000;
}
//contactos
.contact-section{
    background: url(bg1.jpg) no-repeat center;
    width: 80%;
    margin-left:10%;
    border-radius: 30px;
    box-shadow: 20px 10px 20px;
    h1{
        text-align: center;
        color: #33383b;
    }
  }
 
.border{
    width: 100px;
    height: 10px;
    background: #33383b;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #fff;
    padding: 20px 40px;
    outline: none;
    color: #c7c7c7;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 6px #33383b;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #33383b;
    color: #c7c7c7;
    padding: 12px 50px;
    margin-bottom: 2%;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #33383b
}


