.nav-bar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--color-nav-bar);
}

.nav-bar__item {
  float: right;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

.nav-bar__item:hover {
  background-color: var(--color-nav-bar-hover);
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  position: relative;
  margin: 5px 10px 5px 10px;
}

.content {
  max-width: 1200px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20%;
}

.gallery {
  padding: 10px;
}

.gallery__item {
  margin: 5px;
  border: 1px solid #ccc;
  width: 280px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery__image {
  width: 100%;
  height: 200px;
}

.gallery__paragraph {
  padding: 15px;
  text-align: center;
}

.gallery__item:hover {
  border: 1px solid #777;
}

.about {
  display: inherit;
  padding: 10px;
}

.home {
  background-color: #000;
  opacity: 0.85;
  background-image: url("/assets/img/banner.jpg");
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home__text {
  text-transform: uppercase;
  margin: 0px;
  background-color: #ccc;
  color: #000;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 85%;
}

.food {
  display: inherit;
  padding: 10px;
}

.geo {
  padding: 10px;
}

.footer {
  background-color: var(--color-nav-bar);
  color: white;
  height: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.food {
  padding: 10px;
}

.food__item {
  border: 1px solid #777;
  border-radius: 2%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 900px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food__image {
  margin: 0px;
  width: 80%;
  height: auto;
}

.food__paragraph {
  text-align: justify;
}

.food__item:hover {
  border: 1px solid #777;
}

:root {
  --color-nav-bar: #333;
  --color-background: rgb(218, 218, 218);
  --color-nav-bar-hover: #111;
  --color-background-container: white;
}

html {
  background-color: var(--color-background);
  font-family: Verdana, sans-serif;
  font-size: 85%;
}

body {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

h1 {
  font-family: 'Signika', sans-serif;
  background-color: var(--color-nav-bar);
  color: white;
  text-align: center;
}

p {
  text-align: justify;
}

.content {
  border: 1px solid #b3b2b2;
  background-color: var(--color-background-container);
}
/*# sourceMappingURL=main.css.map */