<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    {{> common/head }}
</head>
<body>
    <!--Nav bar-->
    {{> common/nav }}

    <!--Monuments cards-->
    <div class="celeb_cards">
        <div class="celeb">
            <div class="celeb_name">
                <p>CELEB</p>
            </div>
            <div class="celeb_background_img">
                <img src="http://staff.harrisonburg.k12.va.us/~cwalton/geopics/AX930147.jpg" alt="celeb img">
            </div>
            <div class="celeb_age_container">
                <p>2000 anos<p>
            </div>
            <div class="celeb_height_container">
                <p>1,85m<p>
            </div>
            <div class="celeb_comp_container">
                <p>None<p>
            </div>
            <a target="_blank" href="http://google.com">
                <div class="celeb_btn_container">
                    <p>MORE</p>
                </div>
            </a>
        </div>

        <div class="celeb">
            <div class="celeb_name">
                <p>CELEB</p>
            </div>
            <div class="celeb_background_img">
                <img src="http://staff.harrisonburg.k12.va.us/~cwalton/geopics/AX930147.jpg" alt="celeb img">
            </div>
            <div class="celeb_age_container">
                <p>2000 anos<p>
            </div>
            <div class="celeb_height_container">
                <p>1,85m<p>
            </div>
            <div class="celeb_comp_container">
                <p>None<p>
            </div>
            <a target="_blank" href="http://google.com">
                <div class="celeb_btn_container">
                    <p>MORE</p>
                </div>
            </a>
        </div>

        <div class="celeb">
            <div class="celeb_name">
                <p>CELEB</p>
            </div>
            <div class="celeb_background_img">
                <img src="http://staff.harrisonburg.k12.va.us/~cwalton/geopics/AX930147.jpg" alt="celeb img">
            </div>
            <div class="celeb_age_container">
                <p>2000 anos<p>
            </div>
            <div class="celeb_height_container">
                <p>1,85m<p>
            </div>
            <div class="celeb_comp_container">
                <p>None<p>
            </div>
            <a target="_blank" href="http://google.com">
                <div class="celeb_btn_container">
                    <p>MORE</p>
                </div>
            </a>
        </div>

        <div class="celeb">
            <div class="celeb_name">
                <p>CELEB</p>
            </div>
            <div class="celeb_background_img">
                <img src="http://staff.harrisonburg.k12.va.us/~cwalton/geopics/AX930147.jpg" alt="celeb img">
            </div>
            <div class="celeb_age_container">
                <p>2000 anos<p>
            </div>
            <div class="celeb_height_container">
                <p>1,85m<p>
            </div>
            <div class="celeb_comp_container">
                <p>None<p>
            </div>
            <a target="_blank" href="http://google.com">
                <div class="celeb_btn_container">
                    <p>MORE</p>
                </div>
            </a>
        </div>

        <div class="celeb">
            <div class="celeb_name">
                <p>CELEB</p>
            </div>
            <div class="celeb_background_img">
                <img src="http://staff.harrisonburg.k12.va.us/~cwalton/geopics/AX930147.jpg" alt="celeb img">
            </div>
            <div class="celeb_age_container">
                <p>2000 anos<p>
            </div>
            <div class="celeb_height_container">
                <p>1,85m<p>
            </div>
            <div class="celeb_comp_container">
                <p>None<p>
            </div>
            <a target="_blank" href="http://google.com">
                <div class="celeb_btn_container">
                    <p>MORE</p>
                </div>
            </a>
        </div>

        <div class="celeb">
            <div class="celeb_name">
                <p>CELEB</p>
            </div>
            <div class="celeb_background_img">
                <img src="http://staff.harrisonburg.k12.va.us/~cwalton/geopics/AX930147.jpg" alt="celeb img">
            </div>
            <div class="celeb_age_container">
                <p>2000 anos<p>
            </div>
            <div class="celeb_height_container">
                <p>1,85m<p>
            </div>
            <div class="celeb_comp_container">
                <p>None<p>
            </div>
            <a target="_blank" href="http://google.com">
                <div class="celeb_btn_container">
                    <p>MORE</p>
                </div>
            </a>
        </div>
    </div>

    <!--Footer-->
    {{> common/footer }}
    
    <!--Scripts-->
    {{> common/scripts }}
</body>

</html>