<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    {{> common/head }}
</head>

<body>
    <!--Nav bar-->
    {{> common/nav }}

    <!--Slideshow-->
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="https://www.wallpaperup.com/uploads/wallpapers/2014/11/06/508580/5825a05b5f9142d5606a6fd03483f82d-700.jpg">
        </div>
        <div class="mySlides fade">
            <img src="http://www.ggconsultant.com/images/uni-russia.jpg">
        </div>
        <div class="mySlides fade">
            <img src="https://static.brusselsairlines.com/_img/destinationPage2/Russia/Moscow/Moscow_kremlin.jpg">
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    
    <div class="img_cards">
        <div class="card">
            <img src="http://img.bistekonline.com.br/Imagens/produtos/41/987441/987441_Detalhes.jpg" alt="5 Terre">
            <div class="text_container">
                <p>Vodka</p>
            </div>
        </div>

        <div class="card">
            <img src="https://logodownload.org/wp-content/uploads/2014/09/counter-strike-global-offensive-cs-go-logo.png" alt="Norther Lights">
            <div class="text_container">
                <p>CS GO</p>
            </div>
        </div>

        <div class="card">
            <img src="https://assets.bigcartel.com/product_images/217981699/CYKA+BLYAT+PVC+PATCH+FRONT+BLK+RFL+DIV.jpg" alt="Norther Lights">
            <div class="text_container">
                <p>C##### ####</p>
            </div>
        </div>
    </div>

    <!--Footer-->
    {{> common/footer }}
    <!--Scripts-->
    <script>
        var slideIndex = 1;
            showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slides[slideIndex-1].style.display = "block";  
        }
    </script>
    {{> common/scripts }}

</body>

</html>