<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    {{> common/head }}
</head>
<body>
    <!--Nav bar-->
    {{> common/nav }}

    <!--Monuments cards-->
    <div class="monument_cards" id="monuments">

    </div>

    <!--Footer-->
    {{> common/footer }}
    
    <!--Scripts-->
    {{> common/scripts }}
</body>

</html>