<!DOCTYPE html>
<html lang="en">
<head>
    <!--Head-->
    {{> common/head }}
</head>
<body>
    <!--Nav bar-->
    {{> common/nav }}

    <!--Footer-->
    {{> common/footer }}
    
    <!--Scripts-->
    {{> common/scripts }}
</body>

</html>