@media screen and (max-width: 1440px){
    .small-img{
        padding: 185px 250px;
    }
    .small-img img{
        width: 120px;
        height: 120px;
    }
}
@media screen and (max-width: 1366px){
    .small-img{
        padding: 170px 240px;
    }
    .small-img img{
        width: 110px;
        height: 110px;
    }
}
@media screen and (max-width: 1228px){
    .small-img{
        padding: 140px 230px;
    }
    .small-img img{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 1024px){
    .small-img{
        padding: 130px 210px;
    }
    .small-img img{
        width: 80px;
        height: 80px;
    }
    .scroll img{
        max-height: 2.5vh;
    }
}
@media screen and (max-width: 768px){
    .small-img{
        padding: 80px 140px;
    }
    .small-img img{
        width: 60px;
        height: 60px;
    }
    .scroll img{
        max-height: 1.7vh;
    }
    .top{
        padding: 0 20px;
    }
}
@media screen and (max-width: 414px){
    .small-img{
        padding: 20px 60px;
    }
    .small-img img{
        width: 38px;
        height: 38px;
    }
    .toponymy, .great, .gb{
        width: 25%;
        font-size: 0.6vw;
    }
    .geo, .geo2, .geo3, .geo4{
        width: 30%;
        font-size: 0.75vw;
    }
    .scroll img{
        max-height: 0.9vh;
    }
    .top{
        padding: 0 10px;
    }
    .btn-menu{
        width: 27px;
        height: 27px;
    }
    .logo{
        width: 90px;
        height: 30px;
    }
}
@media screen and (max-width: 375px){
    .small-img{
        padding: 20px 60px;
    }
    .small-img img{
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 360px){
    .small-img{
        padding: 20px 60px;
    }
    .small-img img{
        width: 30px;
        height: 30px;
    }
    .top{
        padding: 0;
    }
}
@media screen and (max-width: 320px){
    .small-img{
        padding: 20px 60px;
    }
    .small-img img{
        width: 24px;
        height: 24px;
    }
}