@import url("text.css");
/* tags */

body{
    margin:0;
    padding: 0;
    background-color: #111;
    overflow: visible; 
}

/*scroll bar */
::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136); 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* body */
h2{
    color: black;
}
.header div{
    display: block;
}
.logo{
    width: 120px;
    height: 40px;
    transition: all 0.3s ease-in-out;
    color: #111;
}
.top{
    height: 40px;
    width: 100vw;
    max-width: inherit;
    padding: 0 50px;
    position: absolute;
    box-sizing:border-box;
    z-index: 9;
    display: flex;
    justify-content: space-between;
}
.container {
    position: relative;
    top: 0;
    background-color: #111;
    width: 100vw;
    max-width: 1670px;
    display: block;
    margin: 0 auto;
    border-bottom: 35px solid #111; 
}

.fundo{
    width: 100vw;
    max-width: 1670px;
    position: relative;
    z-index: 1;
}
.content{
    position: absolute;
    width: 100vw;
    max-height: 902px;
    display: block;
    max-width: 1670px;
    margin: 40px auto 0 auto;
    display: flex;
    z-index: 3;
}
.contentgeo{
    position: absolute;
    width: 100vw;
    max-height: 902px;
    display: block;
    max-width: 1670px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 3;
    flex-direction: row;
    align-items: center;
}

/* galeria */
.portfolio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.small-img{
    padding: 200px 300px;
    display: flex;
    width: 90%;
    height: auto;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.small-img img{
    display: block;
    margin-bottom: 5px;
    width: 150px;
    height: 150px;
    border: 1px solid #111;
    transition: .3s ease-in-out;
    object-fit: cover;
}
.small-img img:hover{
    box-shadow: 0px 0px 10px #111;
    cursor: pointer;
    opacity: .75;
    border-radius: 50%;
}
/* butao */


.btn-menu{
    width: 40px;
    height: 40px;
    visibility: visible;
    background-image: url("img/menu.png");
}
.btn-menu:hover{
    opacity: 0.5;
}
.exit{
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    background-image: url("img/exit.png");
    position: absolute;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.exit:hover{
    opacity: 0,5;
}

/* butao menu */
.menu-nav{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 0;
    z-index: 8;
    background-color: rgba(1,1,1,.9);
    transition: all 0.3s ease-in-out;
}
.menu-nav ul{
    position: absolute;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow:hidden;
    visibility: hidden;
    padding: 0;

}
.menu-nav ul li{
    list-style: none;
    height: 20px;
    padding-top: 40px;
}
.menu-nav ul li span, .menu-nav ul li a{
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
.menu-nav ul li span{
    cursor: default;
}
/* footer */
.footer{
    position: relative;
    top: 0;
    background-color: #111;
    width: 100vw;
    max-width: 1670px;
    height: 200px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    flex-direction: column;
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quote {
    display: block;
    padding: 0 10px;
    color: white;
    font-family: arial;
    font-size: 13px;
    font-style: italic;
    text-align: center;
    list-style: none;
    
}
.dash{
    width: 300px;
    height: 50px;
    align-self: center;
}
#social{
    width: 25px;
    height: 25px;
    padding: 0 10px;
}