.toponymy, .great, .gb{
    position: relative;
    height: auto;
    font-family: arial;
    text-align: center;
    color: black;
    font-size: 0.8vw;
    width: 35%;
    margin: 2% 3%;
}
.story, .story2{
    position: relative;
    height: auto;
    font-family: arial;
    text-align: center;
    color: black;
    font-size: 0.7vw;
    margin: 1% 3%;
    background-color: rgba(241, 233, 194, 0.3);
    padding: 1vw;
    border-radius: 5%;
    box-shadow: 5px 10px rgba(1,1,1,0.6);
}
.story3{
    position: relative;
    height: auto;
    font-family: arial;
    text-align: center;
    color: black;
    font-size: 0.8vw;
    margin: 7% 3%;
    background-color: rgba(241, 233, 194, 0.3);
    padding: 1vw;
    border-radius: 4%;
    box-shadow: 5px 10px rgba(1,1,1,0.6);
}
.geo, .geo2, .geo3, .geo4{
    position: relative;
    height: auto;
    font-family: arial;
    text-align: center;
    color: black;
    font-size: 0.8vw;
    width: 32%;
    margin: .05% 2%;
}
.scroll{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.scroll img{
    width: 1.8vw;
    height: 3vh;
}
#prev, #next{
    cursor: pointer;
}

/* History */