.nav-bar {
    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--color-nav-bar);
    }

    &__item {
        float: right;
        color: white;
        display: flex;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
    }
    &__item:hover {
        background-color: #111;
    }
}