* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }



   
.containerimg {
    display: flex;
    justify-content: center;

    & img {
        width: 100%;
        max-width: 280px;
    }
}
::-webkit-scrollbar{
    background: #ddd;
    width: 14px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px #00000070;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(125deg,#3498db,#34495e);
    border-radius: 10px;
}

:root {
    --color-primary: #ffffff;
    --color-bottom: rgb(0, 0, 0);
    --color-red: rgb(214, 14, 14);
    --color-representative:  rgb(68, 67, 67);
    --color-representative2: rgb(148, 145, 145);
    --color-representative-transparent:  #110f0fd5;
    --color-representative-transparent-visited:  rgba(143, 141, 141, 0.5);
    --color-black-transparent:  rgba(12, 12, 12, 0.253);
    --color-skyblue: rgb(11, 126, 179);;

 }

 body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 header {
     width: 100%;
     height: 74px;
     background-color:none;
     float: left;
     position: fixed;
     top:0;
     left: 0;
     z-index: 100;
     transition: 0.5s;
 }
 header .container {
     display: table;
 }

 .container {
     width: 98%;
     margin: auto;
 }

main {
    section {
        .container1 {
            padding: 0 0 30px 0;
        }
        .containertexto {
            padding: 0 0 30px 0;
        }
    }
}

 .containertexto {
    width: 80%;
    margin: auto;
}
.containermenuresponsive {
    //width: 300px;
    width: 57%;
    height: 100%;
    background-color: var(--color-representative-transparent);
    float: left;
    display: none;
    //transform: translateX(-150%);
    position: fixed;
    margin-top: 74px;
    left: -900px;

    & a {
        margin-left: 20px;
    }
}

.fondomenuresponsive {

    width: 100%;
    height: 100%;
    background-color: white;
    float: left;
    position: fixed;
    z-index: -20;
    opacity: -100;
    //left: -900px
    display: none;
}


h1 {
    float: left;
}
header .container { 
    display: table;
}

//BANNER

section {
    width: 100%;
    margin-bottom: 25px;
}

/////////FOOTER

footer {
    border-top: thick solid var(--color-bottom);
    margin-top: -29px;
}

footer .container {
    background-color: var(--color-primary);
    display: flex;
    //flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    & .maisinfo a{
        display: inline-block;
        //width: 100px;
        color: var(--color-bottom);
        //text-decoration: none;
        text-align: center;
        margin-top: 20px;
        align-content: center;
        transition: color .5s;
    }
    & .maisinfo a:hover{
        color: var(--color-red);
    }
}
///////FOOOTER (media)
.media {
    //position: absolute;
    margin-top: 40px;
    top: 50%;
    transform: translateY(-50%);
    //width: 80%;
    text-align: center;
}
footer .btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
footer .btn i {

    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;

}
footer .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
footer .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
footer .btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa {
    0%{
    left: -110%;
    top: 90%;
}50%{
    left: 10%;
    top: -30%;
}100%{
    top:-10%;
    left:-10%;
}
}
////FIM FOOOTER (media)


//BOTÃO SCROLL UP

html {
    scroll-behavior: smooth;
}


buttondisplay {
    transition: 0.5s;
    opacity: -100;
    z-index: 100;
}
.btnup {

    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--color-skyblue);
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
    border-radius: 30px;
    z-index: 100;
}

.btnupdisplay {
    
    transition: 2s;
    opacity: initial;
}



///   LOADING ANIMATION


.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    display: flex;
    align-items: center;
}

.obj {
    width: 6px;
    height: 40px;
    background: white;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading 0.8s infinite;
}

.obj:nth-child(2){
    animation-delay: 0.1s;
}
.obj:nth-child(3){
    animation-delay: 0.2s;
}
.obj:nth-child(4){
    animation-delay: 0.3s;
}
.obj:nth-child(5){
    animation-delay: 0.4s;
}
.obj:nth-child(6){
    animation-delay: 0.5s;
}
.obj:nth-child(7){
    animation-delay: 0.6s;
}
.obj:nth-child(8){
    animation-delay: 0.7s;
}
  
  
@keyframes loading {
    0%{
      height: 0;
    }
    50%{
      height: 40px;
    }
    100%{
      height: 0;
    }
}
  

.containerbig{
    width: 100%;
    background-color: black;
    min-height: 100vh;

    display: flex;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    z-index: 1;
    display: none;
}
