.container{
    display: flex;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: row;
    justify-content: flex-end;
    color: yellow;
    font-size: 20px;
    text-align: auto;
}
body {
    background-color: #fff;
}
main {
    padding: 20px;
    background-color: green;
    border: solid 1px blue;
}