@import url("https://fonts.googleapis.com/css?family=Tinos:400,700");
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Tinos', serif;
  font-weight: 700;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  background-color: #fff;
  text-align: center;
}

header nav {
  width: 80%;
  margin: 0 auto;
  list-style-type: none;
  overflow: hidden;
}

header nav .navbar-bandeira {
  float: left;
}

header nav .navbar-bandeira a {
  text-decoration: none;
}

header nav .navbar-bandeira a h3 {
  color: #4783c3;
  font-size: 2rem;
}

header nav .navbar-nav {
  float: right;
  margin-top: 50px;
}

header nav .navbar-nav li {
  display: inline-block;
  margin-right: 20px;
}

header nav .navbar-nav li:last-child {
  margin-right: 0;
}

header nav .navbar-nav li a {
  color: #4783c3;
  text-align: center;
  font-size: 1.2rem;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

header nav .navbar-nav li a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main {
  background-image: url("../img/santorini.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

main .main-welcome {
  background-color: #f9f9f9b8;
  text-align: left;
  position: absolute;
  bottom: 200px;
  padding: 0 30px;
}

main .main-welcome h1 {
  font-size: 2.5rem;
  color: #4783c3;
}

main .main-welcome i {
  font-size: 2rem;
  color: #4783c3;
  padding-bottom: 20px;
}

.teste2 {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}

.teste2 h1 {
  text-align: center;
  color: #4783c3;
}

.teste2 a {
  text-decoration: none;
  display: block;
}

.teste2 a button {
  width: 43px;
  height: 44px;
}

.teste2 .text-left {
  float: left;
  width: 50%;
  padding: 40px 0;
}

.teste2 .text-right {
  float: right;
  width: 40%;
}

.row >
.column {
  padding: 0 200px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: none;
  width: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1000px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hover-shadow:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, #caption {
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.foster {
  background: #fff;
}
/*# sourceMappingURL=main.css.map */