body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: $color__secondary_2;
}

.active {
    background-color: $color__secondary_2;
}

.topnav a {
    float: right;
    display: block;
    font-weight: bold;
    color: $color__secondary_1;
    text-align: center;
    margin-right: 20px;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 18px;
}
  
.topnav a:hover {
    color: $color__primary_1;
}
  
.active {
    color: $color__primary_1 !important;
}
  
.topnav .icon {
    display: none;
}

.logo{
    float: left;
    padding: 14px 20px;
    height: 60px;
}

.img{
    float: left !important;
    padding: 14px 20px !important;
    margin: 0 !important;
    padding: 0 !important;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav a:nth-child(2) {
        margin-top: 70px;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .active {
        background-color: $color__primary_2;
        width: 100%;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav{
        background-color: $color__secondary_3;
    }
    .topnav a {
        float: left;
    }
    .menu_icon{
        font-size: 30px;
    }
}