body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: $color__secondary_2;
}

.active {
    background-color: $color__secondary_2;
}

.topnav a {
    float: right;
    display: block;
    font-weight: bold;
    color: $color__secondary_1;
    text-align: center;
    margin-right: 20px;
    padding: 30px 20px;
    text-decoration: none;
    font-size: 18px;
}
  
.topnav a:hover {
    transform: scale(1.1);
    color: $color__primary_1;
}
  
.active {
    color: $color__primary_1 !important;
}
  
.topnav .icon {
    display: none;
}

.logo{
    float: left;
    padding: 14px 20px;
    height: 60px;
}

.img{
    float: left !important;
    padding: 14px 20px !important;
    margin: 0 !important;
    padding: 0 !important;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav a:nth-child(2) {
        margin-top: 70px;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .active {
        background-color: $color__primary_2;
        width: 100%;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav{
        background-color: $color__secondary_3;
    }
    .topnav a {
        float: left;
    }
    .menu_icon{
        font-size: 30px;
    }
}

.slideshow-container {
    width: 100%;
    height: 20%;
    position: relative;
    margin: 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -25px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.mySlides > img{
    width: 100%;
    height: 15rem;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media screen and (max-width: 600px) {
    .mySlides > img{
        width: 100%;
        height: 12rem;
    }
}

.footer{
    background-color: $color__primary_2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
}

.social_media{
    text-align: center;
    margin: 15px;
}

.social_media > i{
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

i:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: $color__primary_1;
}

.copyright{
    text-align: center;
}

.copyright > p{
    font-size: 12px;
}


.img_cards{
    display: flex;
    justify-content: space-evenly;
    margin: 2.6rem;
}

.card {
    width: 30%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card > img{
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  
.text_container {
    font-size: 20px;
    font-weight: bold;
    color: $color__primary_3;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .img_cards{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        width: 100%;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .footer{
        background-color: $color__primary_2;
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5rem;
    }
    .social_media > i{
        margin-top: 20px;
        font-size: 25px;
        padding-right: 10px;
        padding-left: 10px;
    }
}