header {
    border-bottom: 5px solid rgb(0, 73, 135);
    background-color: #f2f3f2;
    opacity: .85;
    position: relative;
}

nav {
    width: 65%;
    margin: 0 auto;
    padding: 40px 0;
    transition: width .3s ease-in-out;

    @media screen and (max-width: 1200px) {
        width: 80%;
    }

    @media screen and (max-width: 950px) {
        width: 100%;
        padding: 50px 15px;
    }
    
    .navbar-flag {
        float: left;
        margin-top: -35px;
    }

    .navbar-nav {
        float: right;
        margin-top: -10px;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 30px;

            a {
                text-decoration: none;
                color: rgb(0, 73, 135);
                padding: 10px 0;
                font-size: 1.1rem;
                font-weight: 600;
                letter-spacing: 1px;

                &:hover {
                    border-bottom: 5px solid var(--color-primary);
                }
            }
        }
    }
}

.main-index {
    background-image: url("../img/bg-index.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -85px;

    @media screen and (max-width: 950px) {
        margin-top: -105px;
    }

    .index-welcome {
        position: absolute;
        bottom: calc(50% - 200px);
        left: 200px;
    }

    h1 {
        color: #f2f3f2;
        text-shadow: 1px 1px 2px #000;
        text-align: left;
        font-size: 4.2rem;
        letter-spacing: 2px;
        
        a {
            color: #f2f3f2;
            text-decoration: none;

            i {
                position: relative;
                top: 0px;
                font-size: 2.2rem;
                margin-left: 5px;
                cursor: pointer;
                transition: top .1s ease-in-out;
                
                &:hover {
                    top: 10px;
                }
            }
        }
    }
}

.main-info {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;

    h1 {
        color: #000;
        font-size: 2.8rem;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 40px;
    }

    hr {
        border: 2px solid #000;
        width: 50px;
        margin-bottom: 30px;
    }

    .info-card {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
        
        figure {
            margin: 20px 0;
            overflow: hidden;
            max-height: 380px;
            transition: box-shadow .3s, transform .3s;
            
            &:hover {
                box-shadow: -10px 15px 25px rgba(0, 0, 0, 0.5);
                transform: translateY(-10px);

                img {
                    filter: brightness(.3);
                }

                figcaption h2 {
                    transform: translateY(-130px);
                }

                figcaption p {
                    color: #f2f3f2;
                    text-shadow: 1px 1px 2px #000;
                    line-height: 1.5rem;
                    word-spacing: 5px;
                    transform: translateY(-160px);
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                filter: brightness(.7);
                transition: all .4s ease-in-out;
            }
            
            figcaption  {
                max-width: 380px;
                padding: 15px 0;
                background-color: transparent;
                position: relative;

                h2 {
                    position: absolute;
                    bottom: 70px;
                    font-size: 1.8rem;
                    letter-spacing: 1px;
                    color: #f2f3f2;
                    margin-left: 30px;
                    text-shadow: 1px 1px 2px #000;
                    transition: transform .3s;
                }

                p {
                    color: transparent;
                    font-size: 1.2rem;
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    margin-left: 30px;
                    transition: opacity .3s, visibility .3s;
                }
            }
        }
    }
}

footer {
    background-color: var(--color-secondary);

    .footer-social {
        padding: 30px 0 37px;
        background-color: var(--color-primary);
        text-align: center;

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            li {
                list-style-type: none;
                margin-right: 30px;

                &:first-child {
                    color: var(--color-secondary);
                    font-size: 1.5rem;
                    letter-spacing: .5px;
                    font-weight: 600;
                }

                a {
                    color: var(--color-secondary);
                    text-decoration: none;
                    font-size: 1.5rem;
                    letter-spacing: .5px;
                    border-bottom: 1px dotted var(--color-secondary);
                
                    &:hover {
                        border-bottom: 1px solid var(--color-secondary);
                    }
                }
            }
        }
    }

    .separador {
        border-left: 5px solid var(--color-primary);
    }

    .footer-link {
        padding: 100px 65px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;

        .footer-nav {

            li {
                list-style-type: none;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }

                a {
                    display: block;
                    text-decoration: none;
                    color: var(--color-primary);
                    font-size: 1.8rem;
                }
            }
        }

        .footer-logo {
        }
    }
}