    <div class="topnav" id="nav_top">
        <a class="img" href="index.html">
            <img class="logo" src="assets/logo/Russia_flag.png"> 
        </a>
        <a href="#">Location</a>
        <a href="#">Celebrities</a>
        <a href="#">Governaments</a>
        <a href="#">Monuments</a>
        <a href="index.html" class="active">Home</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
           <i class="menu_icon fas fa-bars"></i>
        </a>
    </div>