.menu {
    display: flex; /* or inline-flex */
    flex-direction: row;

    &__item{
        display: flex;
        align-items: center;
        padding: 1rem;    
    }
<<<<<<< HEAD
}

.artigos{
    max-width: 1400px;
    margin: 40px 20px 0 20px;
}
.artigos-textos{
    background-color: var(--color-grey-light-1);
    padding: 20px;
    margin-bottom: 20px;
}


/* photos */
.gallery{
    background-color: var(--color-primary);
    display: flex;
	flex-direction: column;
	align-items: center;
    /* padding: 125px 100px; */
    padding: 0px 0px;
}

.gallery ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery .grid li{
	padding: 20px;
	height: 350px;
	border-radius: 3px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: var(-color-grey-dark-1);
}

.gallery .grid li.small{
	flex-basis: 40%;
}

.gallery .grid li.large{
	flex-basis: 60%;
}

// teste

 
// teste-end

@media (max-width: 1000px){
	.gallery .grid li.small,
	.gallery .grid li.large{
		flex-basis: 100%;
	}
}

.gallery-text{
    background-color: var(--color-grey-light-1);
    max-width: 1400px;
    // margin: 40px auto 0 auto;
    margin: 40px 20px 0 20px;
    padding: 20px;
/*  display: flex;
    justify-content: space-between; */
}

.gallery-text .text{
    background-color: var(--color-primary);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 0px;
}

@media (min-width:900px){
    .gallery-text{
        display: flex;
        justify-content: space-between;
    }
}


/* footer */
// footer{
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	text-align: center;
// 	color: var(--color-primary);
// 	background-color: var(--color-grey-dark-2);
//     padding: 30px 0;
//     height: 30px;
// }

// footer ul{
// 	display: flex;
// 	margin-bottom: 25px;
//     font-size: 32px;
// }

// footer ul li{
// 	margin: 0 8px;	
// }

// footer ul li:first-child{
// 	margin-left: 0;	
// }

// footer ul li:last-child{
// 	margin-right: 0;	
// }

// footer p{
// 	text-transform: uppercase;
// 	font-size: 14px;
// 	color: rgba(255,255,255,0.6);
// 	margin-bottom: 2px;
// }

// footer p a{
// 	color: #fff;
// }

// footer svg{
// 	width: 1.75rem;
// 	height: 1.75rem;
// 	fill: azure;
// }
=======
    
  }
>>>>>>> 848aba661f0e780f1b9c6410925e85df9eb73568
