.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* or inline-flex */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< HEAD
  /* padding: 125px 100px; */
  padding: 0px 0px;
}

.gallery ul.grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: var(-color-grey-dark-1);
}

.gallery .grid li.small {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.gallery .grid li.large {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

@media (max-width: 1000px) {
  .gallery .grid li.small,
  .gallery .grid li.large {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.gallery-text {
  background-color: var(--color-grey-light-1);
  max-width: 1400px;
  margin: 40px 20px 0 20px;
  padding: 20px;
  /*  display: flex;
    justify-content: space-between; */
}

.gallery-text .text {
  background-color: var(--color-primary);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0px;
}

@media (min-width: 900px) {
  .gallery-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* footer */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
}

.form {
  margin: 40px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-text {
  background-color: var(--color-grey-light-1);
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
=======
  padding: 1rem;
>>>>>>> 848aba661f0e780f1b9c6410925e85df9eb73568
}
/*# sourceMappingURL=main.css.map */